@using FruitWebGui.Models;

@{
    ViewBag.Title = "Index";

}
<h2 style="text-align:center">FruitShop!</h2>

<div class="col-sm-10 col-sm-offset-2">

    <br />
    <div class="col-sm-8">
        <div class="col-sm-12"><div class="col-sm-12"><h3>Fruit</h3></div></div>
        @foreach (Fruit f in ViewBag.Fruits)
        {
            using (Html.BeginForm("AddItem", "Home"))
            {
                <div class="col-sm-12" style="border: 1px solid black;float:left;">
                    <div class="col-sm-7 RemoveSpace">
                            <div style="padding:0;" value="@Html.Raw(f.Name)" name="name" class="col-sm-12">@Html.Raw(f.Name)</div> 
                            <div style="padding:0;" class="col-sm-12">@Html.Raw(f.price) kr</div>
                            <input name="fruitID" class="hidden" value="@Html.Raw(f.id)"/>
                            
                            <label labelfor="Amount">Amount</label>
                            <input value="1" style="width:40%;" type="number" name="Amount" min="1" />
                            

                    </div>
                    <button type="submit" style="margin-top:5px; margin-bottom:5px; float:right;" class="col-sm-3">Add to Cart</button>
                </div>
            }
        }
    </div>
    <div class="col-sm-4" style="border: 1px solid black;">

        @if (ViewBag.Cart != null)
        {
            <p>Items in Cart</p>
            foreach (CartableItem item in ViewBag.Cart)
            {
                <div class="row" style="border: 1px dashed black; border-top:none;">
                    <div>
                    @Html.Raw(item.name)
                    </div>
                    <div>
                    Amount : @Html.Raw(item.amount)
                    </div>
                    <div>
                    Price : @Html.Raw(item.price) kr
                    </div>
                </div>
            }
           <button onclick="location.href='@Url.Action("PurchaseItems", "Home")'">Checkout</button>
        }
    </div>
</div>